.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-tertiary);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;

  /* font */
  color: var(--content-primary);
  text-transform: uppercase;
  font-weight: 700;

  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: var(--gradient-border);
    border-radius: 0.5rem;
    inset: -1.6px;
    z-index: -1;

    /* Animation */
    background-size: 200% 100%;
    opacity: 0;
  }

  & .arrow-icon {
    transition: transform 0.3s ease-out;
  }

  &:hover {
    background-color: var(--background-secondary);

    &::before {
      animation: borderFade 0.3s forwards, gradientSweep 2s;
    }

    & .arrow-icon {
      transform: translateX(0.5rem);
    }

    & .retry-icon {
      animation: retrySpin 1s ease-in-out forwards;
    }
  }
}

/* ------- KEYFRAMES ------- */

@keyframes borderFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradientSweep {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes retrySpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
