.btn-primary {
  margin: 1rem; /* Remover essa linha */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-tertiary);
  width: 375px; /* Alterar para 100% */
  padding: 1rem;
  border-radius: 0.5rem;

  /* font */
  color: var(--content-primary);
  text-transform: uppercase;
  font-weight: 700;

  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: var(--gradient-border);
    border-radius: 0.5rem;
    inset: -1.6px;
    z-index: -1;

    /* Animation */
    background-size: 200% 100%;
    opacity: 0;
  }

  &:hover {
    background-color: var(--background-secondary);

    &::before {
      /* opacity: 1; */

      animation: opacityTiming 3s, runAround 3s infinite backwards;
    }

    & img[src*="arrow"] {
      animation-name: arrowMove;
      animation-duration: 3s;
    }

    & img[src*="retry"] {
      animation-name: retryRotate;
      animation-duration: 2s;
    }
  }
}

/* ------- KEYFRAMES ------- */

@keyframes opacityTiming {
  100% {
    opacity: 1;
  }
}

@keyframes runAround {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes arrowMove {
  50% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes retryRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
