.btn-primary {
  background-color: var(--background-tertiary);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;

  /* font */
  color: var(--content-primary);
  text-transform: uppercase;
  font-weight: 700;

  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: var(--gradient-border);
    border-radius: 0.5rem;
    inset: -1.6px;
    z-index: -1;

    /* Animation */
    background-size: 200% 100%;
    opacity: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--background-secondary);

    &::before {
      animation: borderFade 1s forwards, gradientSweep 3s backwards;
    }
  }
}

/* ------- KEYFRAMES ------- */
.move-x {
  animation: move 0.5s;
}

@keyframes move {
  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes borderFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradientSweep {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.icon-spin {
  animation: retrySpin 0.5s;
}

@keyframes retrySpin {
  100% {
    transform: rotate(360deg);
  }
}
