form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section .numbers {
  display: flex;
  gap: 0.75rem;
}

.number-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.number-wrapper label {
  color: var(--content-secondary);
  font-weight: 700;
}

.number-wrapper:has(:hover) label,
.number-wrapper:has(:focus) label {
  color: var(--content-brand);
}

input[type="number"] {
  border: none;
  outline: none;

  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  width: 86px;
  height: 56px;
  padding: 4px 8px;
  cursor: pointer;

  caret-color: var(--content-primary); /* cursor de texto */

  font: 700 var(--fs-2xl) / 1.5 var(--ff-sora);
  color: var(--content-primary);
  text-align: center;

  /* Reset Chrome, Safari, Edge, Opera */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--background-tertiary);
  }
}

.gradient-border:has(:hover),
.gradient-border:has(:focus) {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    inset: -1.6px;
    background: var(--gradient-border);
    border-radius: 0.5rem;
    z-index: -1;
  }
}

.switch-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch-checkbox-wrapper label {
  width: 30px;
  height: 1.25rem;
  padding: 3px;
  border-radius: 1rem;
  background: var(--content-tertiary);

  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--content-primary);
    border-radius: 50%;

    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }
}

.switch-checkbox-wrapper:has(:checked) label {
  background: var(--gradient-background);

  &::after {
    transform: translateX(10px) translateY(-50%);
  }
}

.switch-checkbox-wrapper:has(:focus) label {
  outline: 2px solid var(--content-brand);
}

.switch-checkbox-wrapper .switch {
  font: 400 var(--fs-sm) / 1.5 var(--ff-sora);
}

@media (width >= 80em) {
  .switch-checkbox-wrapper .switch {
    font-size: var(--fs-md);
  }
}
